<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>AIker</title>
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="apple-icon-180x180.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="android-icon-192x192.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="favicon-96x96.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="favicon-16x16.png"
        />

        <style>
            img {
                width: 150px;
                height: 60px;
                border: 30px;
                display: inline-block;
                margin-left: 50px;
            }
            .green_window {
                display: inline-block;
                width: 366px;
                height: 34px;
                border: 3px solid #333366;
                background: white;
                margin-left: 70px;
                margin-bottom: 10px;
            }
            .input_text {
                width: 348px;
                height: 21px;
                margin: 6px 0 0 9px;
                border: 0;
                line-height: 21px;
                font-weight: bold;
                font-size: 16px;
                outline: none;
            }
            .sch_smit {
                width: 54px;
                height: 40px;
                margin: 0;
                border: 0;
                vertical-align: top;
                background: #333366;
                color: white;
                font-weight: bold;
                border-radius: 1px;
                cursor: pointer;
                margin-top: 34px;
            }
            #bd {
                margin-left: 230px;
                margin-top: 50px;
                padding: 0;
                font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif;
            }
            .docker_desc {
                color: black;
            }
            td,
            th {
                padding: 8px;
                color: white;
                font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif;
            }
        </style>
    </head>
    <body id="bd">
        <a href="/"><img src="/images/AIker.png" /></a>
        
        <table width="80%" border="1">
            <!-- <tr>
                <th colspan="2" heigth="4" align="center" bgcolor="#333366">
                    <%= docker.name %>
                </th>
            </tr>
            <tr>
                <td height="200" width="150" align="center">
                    <img src="<%= docker.image %>" />
                </td>
                <td>정보</td>
            </tr> -->
            <tr>
                <td colspan="2" bgcolor="#333366">설명</td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="docker_desc">id: <%= docker.id %></div>
                    <div class="docker_desc">image: <img src="<%= docker.image %>" /></div>
                    <div class="docker_desc">name: <%= docker.name %></div>
                    <div class="docker_desc">command: <%= docker.command %></div>
                    <div class="docker_desc">port: <%= docker.port %></div>
                </td>
            </tr>
        </table>

        <script>
            window.jQuery ||
                document.write('<script src="js/jquery.min.js"><\/script>')
        </script>
        <script src="js/main.js"></script>
    </body>
</html>
